parameters:

	# Editor
	editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
	editorUrlTitle: '%%relFile%%:%%line%%'

	tmpDir: .phpstan-cache

	# Rules
	inferPrivatePropertyTypeFromConstructor: true
	treatPhpDocTypesAsCertain: false

	# Configuration
	level: max
	phpVersion:
		min: 70400
		max: 80500
	bootstrapFiles:
		- storepress-base-plugin.php
	paths:
		- storepress-base-plugin.php
		- src/
		- templates/
		- includes/
	scanFiles:
		- ../../../wp-includes/compat.php
#	scanDirectories:
#		- ../woocommerce
		# - ../woocommerce-subscriptions
