parameters:

	# Editor
	editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
	editorUrlTitle: '%%relFile%%:%%line%%'

	# Rules
	inferPrivatePropertyTypeFromConstructor: true
	treatPhpDocTypesAsCertain: false

	# Configuration
	level: 6
	phpVersion:
		min: 70400
		max: 80400
	bootstrapFiles:
		- storepress-base-plugin.php
	paths:
		- storepress-base-plugin.php
		- includes/
	scanDirectories:
		# - ../woocommerce
